.app{
    overflow: hidden;
    margin: 0 4px;
}
.header{
    height: var(--header-height);
    background-image: linear-gradient(180deg,#F63A29,#FE562E);   
}
.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    height: var(--header-sort-bar-height);
    display: flex;
    background-color: var(--while-color);
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5 ;
    border-bottom: 1px solid #e5e5e5 ;
    display: none;
}
.header__sort-item{
    flex:1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}
.header__sort-link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left:1px solid #ccc;
    transform: translateY(-50% );
}
.header__sort-item:first-child .header__sort-link::before{
    display: none;
}
.header__sort-link--active .header__sort-link{
    color: var(--primary-color);
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar__list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 ;
    display: flex;
   align-items: center;
}
.navbar__items{
    position: relative;
    margin: 0 8px;
    min-height: 26px;
    z-index: 1;

}
/* User */
.navbar__items-user-child{
    display: flex;
    align-items: center;
    position: relative;
}
.navbar__items-user-img{
    width: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0,0.1);

}
.navbar__items-user-name{
    margin-left: 8px;

}
.navbar__items-user:hover .navbar__items-user-menu {
    display: block;
}
.navbar__items-user-menu{
    position: absolute;
    z-index:1 ;
    list-style: none;
    top: calc(100% + 8px);
    right: 0;
    background-color: #fff;
    border-radius: 2px;
    width: 160px;
    box-shadow: 0 2px 2px #e0e0e0 ;
    padding-left:0 ;
    display: none;
}

.navbar__items-user-menu::before{
    content: "";
    border-width: 16px 21px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    top: -24px;
    right: 16px;
}
.navbar__items-user-items{
    position: relative;
}
.navbar__items-user-items:last-child::before{
    content:"";
    position: absolute;
    top:0;
    display: block;
    border-top:1px solid #dedede ;
    width: 100%;
}
.navbar__items-user-items a:first-child{
    border-top-left-radius:2px ;
    border-top-right-radius:2px ;
}
.navbar__items-user-items a:last-child{
    border-bottom-left-radius:2px ;
    border-bottom-right-radius:2px ;
}
.navbar__items-user-items a{
    text-decoration: none;
    color:var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
}
.navbar__items-user-items a:hover{
    background-color: #f5f5f5;
    color: #12bba4;
    font-weight: 400;
}


.navbar__items,.navbar__items-link,.navbar__items-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 300;   
}

.navbar__items-icon{
    position: relative;
    top: 1px;
}
.navbar__items:hover,.navbar__items-link:hover,.navbar__items-icon-link:hover{
    color: rgba(255,255,255, 0.7);
    cursor: pointer;
}

.navbar__items--strong{
    font-weight: 400;
    
}

.navbar__items--boder::after{
    content: "";
    display: block;
    height: 16px;
    border-right:1px solid #fff;
    position: absolute;
    top: 5px;
    right: -9px;
    
}
.navbar__items-title--no-poiter{
    cursor: text;
    color: var(--while-color);
    margin-top: 2px;
}

.navbar__items-icon-link{
    color: var(--while-color);
    text-decoration: none;
}
.navbar__items-icon-link:nth-child(2){
    margin-left: 4.5px;
}

.navbar__items-icon{
    font-size:1.6rem;
    margin: 0 5px;
    
}
/* navbar QR */
.navbar__items:hover .navbar__qr {
    display: block;
}
.navbar__qr{
    width: 200px;
    background-color: var(--while-color);
    position: absolute;
    left: 0;
    top: 89%;
    padding:  8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s; 
    box-shadow: 1px 1px  #d3d3d3;
    
}
.navbar__qr::before{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -10px;
    left: 0;

}

.navbar__qr-img{
    width: 100%;
}

.navbar__qr-apps{
    display: flex;
    justify-content: space-between;
    
}
.navbar__qr-link:hover{
    opacity: 0.8;
}

.navbar__qr-link{
    margin-top: 4px;
}
.navbar__qr-link:nth-child(1){
    margin-left: 11px;
}
.navbar__qr-link:nth-child(1){
    margin-right: 11px;
}
.navbar__qr-download-img{
    height: 15px;
}

/* Thông báo */
.navbar__items:hover .navbar__notify {
    display: block;
}
.navbar__notify{
    position: absolute;
    top:calc(100% + 5px);
    right: 0;
    width: 400px;
    background-color: var(--while-color);
    border: 1px solid rgba(0, 0, 0,0.1);
    border-radius: 2px;
    display: none;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in  0.2s;
    will-change: opacity,transform;
}
.navbar__notify::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    top: -30px;
    right: 3px;
}
.navbar__notify::after{
    content:"";
    display: block;
    width: 100px;
    height: 25px;
    position: absolute;
    top: -14px;
    right: 0;
 
}

@keyframes headerNotifyGrowth{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.navbar__notify-header{
    height: 40px;
    background-color: var(--while-color);
}
.navbar__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.navbar__notify-list{
    padding-left: 0;

}
.navbar__notify-items:hover{
    background-color:#f7f7f7 ;
}
.navbar__notify-items{
    list-style: none;

}

.navbar__notify-items--viewed{
    background-color: rgba(238, 75, 43,0.08);
}

.navbar__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.navbar__notify-img{
    width: 48px;
    object-fit: contain;

}

.navbar__notify-info{
    margin-left: 12px;
}

.navbar__notify-name{
    display: block;
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header .navbar__notify-desc{
    display: block;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #756f6E;
    margin-top: 3px;
}
.navbar__notify-footer{
    text-align: center;
    background-color: #F5F5F5;
}
.navbar__notify-footer:hover .navbar__notify-footer-btn{

   background-color: #E8E8E8;
   color: #EE4D2D;
}
.navbar__notify-footer-btn{
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    display:inline-block;
    padding:14px 0;
    width: 100%;
}
/* end thông báo */


/* Authen-modal-form */
.auth-form{
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container{
    width: 500px;
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-size: 400;
    color:var(--text-color);
    
}

.auth-form__switch-btn{
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
}


.auth-form__group{
  margin-top: 16px;

}

.auth-form__input{
    font-size: 1.1rem;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    outline: none;
    
}
.auth-form__input:focus{
    border-color:#888;
}

.auth-form__aside{
    margin-top: 18px;
    font-size: 1.3rem;
    word-break: break-all;
    line-height: 1.8rem;
    text-align:center ;

}

.auth-form__policy-text{
    padding: 0 4px;
}

.auth-form__text-link{
    color: var(--primary-color);
    text-decoration:none;
}

.auth-form__control{
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back{
    margin-right: 16px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    
}

.auth-form__socials-icon{
    font-size: 1.8rem;
    color: var(--while-color);
}
.auth-form__socials-icon-google{
    font-size: 1.8rem;
}
.auth-form__socials .auth-form__socials--facebook{
    background-color: #3A5A98;
    color: #fff;
}

.auth-form__socials-title{
    margin: 0 36px;
}
.auth-form__socials .auth-form__socials--google{
    background-color: #fff;

}

.auth-form__help{
    display:flex;
    justify-content: flex-end;

 }
 .auth-form__help-sparate{
    display:block;
    height: 22px;
    border-left: 1px solid #999;
    margin: -2px 16px ;

 }

 .auth-form__help-link {
     text-decoration: none;
     color: var(--text-color);
}

.auth-form__help-link-foget {
      color: var(--primary-color);
}

/*end  Authen-modal-form */

/* Begin Header-with-search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center; 
    margin: 0 8px;
}
.header__mobile-search{
    padding: 10px 10px;
    display: none;
}

.header__mobile-search-icon{
    font-size: 2.3rem;
    color: var(--while-color);
}
.header__logo{
    width: 150px;
    padding-right: 40px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header__logo a{
    display: block;
    line-height: 0;
}


.header__search{
    background-color: var(--while-color);
    height: 40px;
    flex-grow: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__search-input-wrap{
    flex-grow: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}
.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.header__search-select-laber{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon{
    color: #919191;
    font-size: 1.4rem;
    margin: 0 16px 0 8px;
    position: relative;
    top:1px;
}
.header__search-btn:hover{
    background-color: #ec593c;
    cursor: pointer;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    outline: none;
    margin-right: 3px;
    border-radius: 3px;
    margin-top: 0.2px;
    border: 1px solid #d3d3d3;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--while-color);
   
}
/* Cart */
.header__cart{
    width: 130px;
    display: flex;
    justify-content: center;
}
.header__cart-wrap{
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
   
}
.header--cart-icon{
    color: var(--while-color);
    font-size: 2.4rem;
    margin-top: 6px;
    
}
.header__cart-notice{
    position: absolute;
    padding: 1px 7px;
    background-color: var(--while-color);
    font-size: 1.4rem;
    line-height: 1.3rem;
    border-radius: 10px;
    border: 2px solid #ee4d2e;
    text-align: center;
    top: 9px;
    right: -8px;

}
.header__cart-list::after{
    content: "";
    position: absolute;
    top: -24px;
    right: 4px;
    border-width:16px 20px;
    border-style:solid ;
    border-color:transparent transparent var(--while-color) transparent ;
    cursor: pointer;
}
.header__cart-list{
    position: absolute;
    top:calc(100% + -4px);
    right: -3px;
    background-color: var(--while-color);
    width: 400px;
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 2px 3.125rem rgba(0, 0, 0,0.2);
    display: none;
    cursor: default;
    animation: fadeIn ease-in .3s;
    z-index: 1;

    
}
.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-vsg{
    display: block;
}

.header__cart-list--no-cart{
    padding: 24px 0;
    
}
.header__cart-list--no-cart-img{
    width: 54%;
    display: inline-block;
    margin: 0 auto;
    display: none;

}
.header__cart-list--no-cart-vsg{
   display: none;
   font-size: 1.4rem;
   margin:14px 0 0 0;
   color: var(--text-color);
    
}
/* cart on */
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}


.header__cart-list-items{
    padding-left: 0;
    list-style: none;
    max-height:50vh;
    overflow-y:  auto;
}
.header__cart-items{
    display: flex;
    align-items: center;

}
.header__cart-items:hover{
    background-color: #f3f3f3;
    cursor: pointer;
}

.header__cart-img{
    width: 44px;
    height: 44px;
    margin: 12px;
    border: 1px solid var(--border-text);

}
.header__cart-items-info{
    width: 100%;
    margin-right: 12px;
}


.header__cart-items-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-items-name{
    flex: 1;
    padding-right: 16px;
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header__cart-items-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-items-multyply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-items-qnt{
    font-size: 1.2rem;
    color: #757575;

}
.header__cart-items-body{
    display: flex;
    justify-content: space-between;

}
.header__cart-items-des{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-items-remove{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 2px;
}
.header__cart-items-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover{
    opacity: 0.9;
}
/* end cart */

.header__search-select:hover .header__search-option {
    display: block;
    cursor: pointer;
}
.header__search-select::after{
    content: "";
    display: block;
    height: 14px;
    width: 100%;
    position: absolute;
    bottom: -14px;
    right: 4px;
    
}

.header__search-option{
    overflow: hidden;
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    padding: 0;
    width: 130px;
    box-shadow: 0 2px 2px #e0e0e0 ;
    border-radius:3px;
    display: none;
    animation: fadeIn ease-in .2s;
}

.header__search-option-items:hover{
    background-color: #e9e9e9;
    cursor: pointer;
}

.header__search-option-items{
    background-color: var(--while-color);
    padding: 8px 8px;
    list-style: none;

}
.header__search-option-items span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-items i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}
.header__search-option-items--active i{
    display: inline-block;
}
/* History */
.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left:0;
    width: calc(100% - 16px) ;
    max-height: 30rem;
    background-color: var(--while-color);
    border-radius:3px ;
    box-shadow: 0 1px 5px #999;
    display: none;
    overflow: hidden;
    z-index: 1;

}
.header__search-history-heading{
    color: #999;
    margin: 6px 12px;
    font-size: 1.4rem;
    font-weight: 400;

}
.header__search-history-list{
    padding: 0;
    list-style: none;
    margin-top: 6px;
    margin-bottom: 0;

    

}
.header__search-history-items:hover{
    background-color: #ececec;
    cursor: pointer;
}
.header__search-history-items{
    height: 35px;
    padding: 0 12px;
    font-size: 1.3rem;
  
}
.header__search-history-items a{
    text-decoration: none;
    color: var(--text-color);
    line-height: 35px;
    display: block;

}
/* COntainer */
.app__container{
  background-color:#f5f5f5;   
}
.app__content{
    padding-top:36px ;
}
/* sidebar */
.sidebar{
    background-color: var(--while-color);
    border-radius: 2px;

}
.sidebar__heading{
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 16px 12px 0;
    text-transform: uppercase;
}
.sidebar__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.sidebar-list{
    list-style: none;
    padding: 0 0 8px 0;
    box-shadow: 0 2px 2px #e0e0e0 ;
    
}
.sidebar-items{
    position: relative;

}
.sidebar-items::after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top:1px solid #e1e1e1;
}
.sidebar-items:first-child::after{
    display: none;

}

.sidebar-items--active .sidebar-items__link {
    color: var(--primary-color);
}
.sidebar-items--active .sidebar-items__link::before{
    content: "";;
    display: block;
    position: absolute;
    border:4px solid ;
    border-color: transparent transparent transparent var(--primary-color);
    top:50%;
    left: 8px;
    transform:translateY(-50%)
}
.sidebar-items__link{
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 20px;
    display: block;
}
.sidebar-items__link:hover{
    color: var(--primary-color);
}
/* Home */
.home-filter{
    background: rgba(0, 0, 0,0.04);
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 12px 22px;
}
.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn{
    margin-right: 12px;
    
}
.select__input-label{
    font-size: 1.4rem;
}
.select__input-icon{
    color: #919191;
    font-size: 1.4rem;
    position: relative;
    top: 1px;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size: 1.5rem;
    color:var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius:2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    background-color: var(--while-color);
    flex: 1;
    display: flex;
    text-decoration: none;
    color: #555;
    font-size: 1.4rem;
}
.home-filter__page-btn--disable,.home-filter__page-btn--disable .home-filter__page-icon{
    background: #dddddd;
    color: #ccc;
    cursor: default;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-icon{
    margin: auto;
}
/* navbar-category-mobile */
.navigation__mobile{
    display: none;

}
.mobile-list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto ;
}
.mobile-list::-webkit-scrollbar{
    display: none;
}
.mobile-category-item{
    flex-shrink: 0;
    margin: 10px;

}
.mobile-category-item:nth-last-of-type(3n + 3) .mobile-category-link{
    background-color:#7EA6D3 ;
}
.mobile-category-item:nth-last-of-type(3n + 1) .mobile-category-link{
    background-color:#6BC2B6 ;
}
.mobile-category-item:nth-last-of-type(3n + 2) .mobile-category-link{
    background-color:#7BC876 ;
}
.mobile-category-link{
    --line-height:2rem;
    text-decoration: none;
    color:var(--while-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    display: block;
    text-align: center;
    width:108px;
    height:calc(var(--line-height) * 2 );
    border-radius: 4px;
    font-weight: 300;
    padding: 0 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    user-select: none;
    -webkit-user-select:none ;
}
.home-product{
    margin-bottom: 10px;
}
.home-product-items{
    display: block;
    text-decoration: none;
    background-color: var(--while-color);
    position:relative;
    border-radius:2px ;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0,.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    cursor: pointer;
    margin-top: 10px;
}
.home-product-items:hover{
    transform:translateY(-1px);
    box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0,.05);
}
.home-product-items__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    
}
.home-product-items__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px 10px ;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis; hiện dấu 3 chấm ; và ngăn không cho xuống hàng khi có 1 hàng 
    white-space: nowrap; */
}
.home-product-items__price{
    display: flex;
    align-items: baseline;
    margin-left: 10px;
    flex-wrap: wrap;
}
.home-product-items__price-old{
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
}
.home-product-items__price-current{
      font-size: 1.5rem;
      color: var(--primary-color);
      margin-left: 10px;
}
.home-product-items__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0 10px;

}
.home-product-items__like{
    font-size: 1.3rem;
}
i.home-product-items__like--liked-fill{
    color: red;
    display: none;
}
.home-product-items__like--liked .home-product-items__like--liked-fill{
    display: inline-block;
}
.home-product-items__like--liked .home-product-items__like--not-liked{
    display: none;
}
.home-product-items__rating{
    font-size: 0.8rem;
    color: #d5d5d5;
    margin-left: auto;
    margin-top: -1px;
}
.home-product-items__star---gold{
    color: var(--header-gold-color);
}
.home-product-items__sold{
    font-size: 1.2rem;
    margin-left: 6px;
}
.home-product-items__origin{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0 10px ;
    color: #595959;
    font-weight: 300;

}

.home-product-items__favorite{
    position: absolute;
    top:10px;
    left:-4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home-product-items__favorite::before{
    content:"";
    border-top:  3px solid currentColor;
    border-left:  3px solid transparent;
    position: absolute;
    left: 0;
    bottom: -3px;
    filter: brightness(60%);
}
.home-product-items__favorite i{
    font-size: 0.9rem;
    margin: 0 2px 0 5px ;
    color: var(--while-color);
    
}
.home-product-items__favorite span{
    color: var(--while-color);
}

.home-product-items__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    color: rgba(255,216,64, 0.94);
    background-color: currentColor;
    text-align: center;

}
.home-product-items__sale-off::after{
    content: "";
    position: absolute;
    border-width: 0px 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent;
    left: 0;
    bottom: -4px;
}

.home-product-items__sale-off-pecent{
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 4px;
}
.home-product-items__sale-off-label{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--while-color);
    font-weight: 600;
    position: relative;
    bottom:-3px;
}
.home-product__pagination-list{
    margin-top: 48px;
    margin-bottom:32px ;
    padding-left: 0;
}
.foorter{
    background-color: var(--while-color);
    border-top: 4px solid var(--primary-color);
    padding-top: 12px;
}

.foorter__heading{
    font-size: 1.5rem;
    font-weight: 500;
    color: #737373;
    text-transform: uppercase;
    padding: 0 12px;
}
.foorter__list{
    list-style: none;
    padding-left:0 ;

}
.foorter__list-items-link:hover:hover{
    color: var(--primary-color);
}
.foorter__list-items-link{
    padding: 2px 12px;
    color: #999999 ;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
}
.foorter__list-items-link i{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    margin-right: 4px;
}
.footer__donwload{
    display: flex;
    align-items: center;
}
.foorter__download-qr{
    width: 86px;
    object-fit: contain;
    border: 1px solid var(--border-text);
    
}
.foorter__download-app{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foorter__download-app-img{
    height: 16px;
    margin-top: 5px;
}
.foorter__bottom{
    background-color: #f5f5f5;
    padding: 8px 12px;
    margin-top: 36px;
}
.foorter__bottom p{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #999999 ;
}