/* mobile table */
@media only screen and (max-width : 1023px){
 
    .header{
        position: fixed;
        right: 0;
        width: 100%;
        z-index: 10;
        top: 0%;
    }
    .app__container{
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    .hide-on-mobile-tablet{
        display: none;
    }
    .header__cart {
        width: 80px;
        display: flex;
        justify-content: flex-end;
    }
    .header__cart-list {
        width: 100%;
        position: fixed;
        right: 0;
        top: var(--header-height);
        padding:0 calc((100% - 644px) / 2);
    }

    .header__cart-list::after {
        display: none;
    }
    .header__sort-bar{
        display: flex;
    }
    .app__content{
        padding-top:5px ;
    }
    .navigation__mobile{
        display: block;
    
    }
}
/* tablet */
@media only screen and (min-width : 740px ) and (max-width : 1023px){
    :root{
        --navbar-height:0px;
        --header-height:70px;
    }
    .hide-on-tablet{
        display: none;
    }
}

/* mobile */
@media only screen and (max-width: 739px){
    :root{
        --navbar-height:0px;
        --header-height:54px;
    }
    .hide-on-mobile{
        display: none;
    }
    .header-with-search{
        justify-content:space-between;
    }
    .header__cart {
        width: unset;
    }
    .header__logo{
       padding: unset;
    }
    .header__search{
        position: fixed;
        top: var(--header-height);
        z-index: 1;
        right: 0;
        left: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05);
        animation: slide linear 0.5s;
        padding:0 16px;
        display: none;
    }
    .mobile__search-checkbox:checked ~ .header__search{
        display: flex;
    }
    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height) );
        left: 0;
        width: 100%;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05);
     }
     .pagination-items__link{ 
        height: 28px;
        font-size: 1.8rem;
        min-width: 35px;
     }
     .pagination-items {
        margin: 0;
    }
    .header__mobile-search{
        display: block;
    }
    .header__logo {
        width: 110px;
    }
    .foorter__content{
        padding: 0 20px;
    }
    .foorter__heading {
        text-align: center;
    }
    .footer__donwload{
        justify-content: center;
    }
    .foorter__download-app-link{
        padding: 4px 12px;
    }
    .wrapper__foorter-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .foorter__heading{
        flex: 1;
    }
    .foorter__list{
        margin-top: auto;
        flex-shrink: 0;
    }
    .foorter__list-items{
     
    }
    .foorter__list-items-link{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .foorter__list-items-link span{
           margin-right: auto;
           flex-shrink: 0;
    }
@keyframes slide{
    0%{
        opacity: 0;
        top:calc(var(--header-height) / 2 )
    }
    50%{
        opacity: 0.5;
    }
    to{
        opacity: 1;
        top: var(--header-height);
    }
    
}
}